<!DOCTYPE HTML>
<html>
<head>
  <title>Hurricanes and Typhoons</title>


  <script src="../static/js/vsjs/vis.js"></script>
  <link href="../static/js/vsjs/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/hurriphoon.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">HurData&nbsp; &nbsp;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home <span class="sr-only">Home</span></a>
                    <a class="nav-item nav-link disabled" href="timeline">Timeline</a>
                    <a class="nav-item nav-link" href="heatmap">Heatmap</a><!--
                    <a class="nav-item nav-link disabled" href="#">Disabled</a>-->
                  </div>
                </div>
              </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-9 ">
                
                <h3 class="text-center" style="font-family: 'Laila', serif;">
                 Hurricane and Typhoon timeline - select an event .
                </h3>
            </div>
            <div id ="hinfo" class="col-lg-3" >
                    <p >
                    </p>
            </div>
                
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <div id="timeline"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 "  id="pathmap" style="height: 400px; ">
            </div><!-- for plath-->
            <div class="col-lg-4 " id="eventPlot" style="height: 400px;  ">
            </div><!-- for plot-->
        </div>

    </div><!--container-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <!-- for leaftlet extension icons 
    <script src="../static/css/leaflet.extra-markers.min.css"></script>-->
     
    <!-- project specific --> 
 <!-- API Key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script src="../static/js/moment.js"></script> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/maps.js"></script>
    
    <script src="/static/js/timelineSetup.js"></script>
   
    

</body>
</html>